<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Bucket" value="dfa_-b039f01f71b9fa5f11945936a5a703c4240f606d" />
    <add key="ProfileId" value="1564240" />
    <add key="PrivateKeyFilePath" value="C:\Users\dschwie\Desktop\working\projects\ConsoleApplication\ssh\capella-dcm-api-integration-10fb521e0947.p12" />
    <add key="ServiceAccountEmail" value="758503600166-1kbk3941h85kdis51679t1rf1ofkgeuc@developer.gserviceaccount.com" />
    <add key="Password" value="notasecret" />
    <add key="ApplicationName" value="DCM Demo" />
    <add key="UserToImpersonate" value="mbs@capella-mt.com" />
    <add key="LocalDownloadDirectory" value="C:\Development\TestDownloads" />
  </appSettings>
</configuration>